#main-container {
	background-image: url('../img/240.jpg');
	width: 216px
}

#idiomas div {
	width: 33px
}

#idiomas div img {
	height: 22px
}

#titulo ul li#img-roger img{
	margin-top: 15px;
	width: 58px;
	float: left
}

#table-cv #table-nom {
	font-size: 18px;
	font-weight: 700
}

