#titulo, nav, footer{
	width: 760px
}

#main-container {
	background-image: url('../img/800.jpg');
	width: 760px
}

#idiomas img {
	margin-right: 12px
}

#titulo ul li#img-roger img{
	margin-top: 8px;
	width: 70px;
	float: left
}

#table-cv #table-nom {
	font-size:42px;
	font-weight: 700
}

nav ul li {
	margin-right: 40px;
}

