#titulo, nav, footer{
	width: 296px
}

#main-container {
	background-image: url('../img/320.jpg');
	width: 296px;
	height: 296px
}

#idiomas div {
	width: 33px
}

#idiomas div img {
	height: 22px
}

nav {
	display:none
}