#titulo, nav, footer{
	width: 730px
}

#main-container {
	background-image: url('../img/768.jpg');
	width: 730px
}

#idiomas img {
	margin-right: 11px
}

#titulo ul li#img-roger img{
	margin-top: 4px;
	width: 80px;
	float: left
}

#table-cv #table-nom {
	font-size:36px;
	font-weight: 700
}